@reference "tailwindcss";

@keyframes corner-anim-tl {
  0%, 5%   { transform: translate3d(0,0,0); }          /* Start */
  10%      { transform: translate3d(-6px,-6px,0); }    /* jump */
  15%      { transform: translate3d(0,0,0); }          /* back */
  100%     { transform: translate3d(0,0,0); }          /* Pause */
}

@keyframes corner-anim-bl {
  0%, 5%   { transform: translate3d(0,0,0); }
  10%      { transform: translate3d(-6px,6px,0); }
  15%      { transform: translate3d(0,0,0); }
  100%     { transform: translate3d(0,0,0); }
}

@keyframes corner-anim-br {
  0%, 5%   { transform: translate3d(0,0,0); }
  10%      { transform: translate3d(6px,6px,0); }
  15%      { transform: translate3d(0,0,0); }
  100%     { transform: translate3d(0,0,0); }
}

@keyframes corner-anim-tr {
  0%, 5%   { transform: translate3d(0,0,0); }
  10%      { transform: translate3d(6px,-6px,0); }
  15%      { transform: translate3d(0,0,0); }
  100%     { transform: translate3d(0,0,0); }
}

.head_border::after {
    @apply content-[""] block w-[75px] h-[5px] bg-[coral] mt-5;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 93.846% 100%, 6.154% 100%, 0% 0%);
    clip-path: polygon(0% 0%, 100% 0%, 93.846% 100%, 6.154% 100%, 0% 0%);
}

.easter_cursor {
    cursor: url("/images/icons/super-mario-star-cursor-32w.png"), pointer !important;
}

.hero_text_bg {
    background: radial-gradient(50% 84% at 50% 50%, rgb(1, 1, 13) 0%,rgba(0,0,0,0) 100%)
}

.hero_grid_bg {
    background-image: radial-gradient(rgba(240, 240, 255, .5) 0.09999999999999998px, transparent 0.9px);
    background-size: 6px 6px;
    background-position: 50% 50%;
}

.hero_top_glow {
    /*background: radial-gradient(50% 50% at 50% 50%, rgb(255, 165, 0) 0%, rgba(1, 1, 13, 0) 100%);*/
    background: radial-gradient(50% 50% at 50% 50%, rgb(240, 240, 255) 0%, rgba(1, 1, 13, 0) 100%);
    opacity: 0.2;
}

.hero_corner_shadow {
    /*background: radial-gradient(75% 64% at 50% 50%, rgba(255, 165, 0, 0.1) 17.57%, #04070d);*/
    background: radial-gradient(75% 64% at 50% 50%, #fff0 17.56756756756757%, #04070d);
}

.hero_colored_overlay {
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0) 0%, rgb(1, 1, 13) 100%);
    opacity: .3;
}

.hero_tag_left_accent {
    background: radial-gradient(ellipse 100% 100% at 0% 50%, rgba(240,240,255,0.3) 0%, rgba(240,240,255,0.1) 50%,
                                transparent 100%);
}

.hero_tag_right_accent {
    background: radial-gradient(ellipse 100% 100% at 100% 50%, rgba(240,240,255,0.3) 0%, rgba(240,240,255,0.1) 50%,
                                transparent 100%)
}

.square_border:after {
    @apply content-[''] absolute inset-0 border border-[rgb(24,24,37)] rounded-[inherit] pointer-events-none;
}

.showcase_top_edge {
    @apply absolute left-0 top-0 h-px w-1.5 bg-gray-50;
}

.showcase_bottom_edge {
    @apply absolute left-0 top-0 w-px h-1.5 bg-gray-50;
}

/* Animation 6s: Jump ~0,6s, Pause ~5,4s */
.corner_anim_tl { animation: corner-anim-tl 6s ease-out infinite; }
.corner_anim_bl { animation: corner-anim-bl 6s ease-out infinite; }
.corner_anim_br { animation: corner-anim-br 6s ease-out infinite; }
.corner_anim_tr { animation: corner-anim-tr 6s ease-out infinite; }
